#!/bin/sh
#
# /etc/rc.d/mbpfan: start/stop mbpfan
#

SSD=/sbin/start-stop-daemon
PROG=/usr/bin/mbpfan
OPTS=""
RUNDIR=/var/run
PID=$RUNDIR/mbpfan.pid

case $1 in
  start)
    $SSD --start --pidfile=$PID --exec $PROG -b -- $OPTS ;;
  stop)
    kill $(pidof $PROG) ;;
  restart)
    $0 stop
    $0 start ;;
  status)
    $SSD --status --exec $PROG
    case $? in
      0) echo "$PROG is running with pid $(pidof $PROG)" ;;
      1) echo "$PROG is not running but the pid file $PID exists" ;;
      3) echo "$PROG is not running" ;;
      4) echo "Unable to determine the program status" ;;
    esac ;;
  *)
    echo "usage: $0 [start|stop|restart|status]" ;;
esac
